@model Tropic_Sun_Initial_Test_Project.Models.UserModel

@{
    ViewData["shortname"] = @Model.name.Split(" ")[0];
    ViewData["email"] = @Model.email;
}


<div class="text-center">
    <h1 class="display-1 mt-5 text-white">Welcome</h1>
    <h1 class="display-4 text-white">Tropic Sun</h1>

    <div>
        <p>Logged In User Name : @Model.name</p>
        <p>Logged In User Email: @Model.email</p>
    </div>
</div>

